.cat{
    width: 150px;
    height: 149px;
    position: absolute; 
    display: flex;
    bottom: 0px;
    background-image: url(image/cat1.png);
    
     
 }

 .spike{         
     width: 60px;
     height: 60px;
     position: absolute;
     display: flex;
     bottom: 10px ;
     background-image: url(image/spikes-png.png);
 }    

 .sky {
    display: flex;
    position: absolute;
    top: 30px;
    background-image: url(image/cloud10.png);
    width: 300px; 
    height: 167px;
  }

.text{
    font-size: 20px;
    color: lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    display: flex;
    position: absolute;
    top: 180px;
    left: 400px;
} 

#reset{
    border-radius: 10px;
    margin: 100px 200px 0 500px ;
    font-size: 30px;
    display: flex;   
}

#timer{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
    font-weight: bold;
    display: flex;
    position: absolute;
    top: 200px;
    left: 400px;
}  

#tree{
    width: 500px;
    height: 559px;
    position: absolute;
    display: flex;
    left: -100px;
    bottom: 10px;
    background-image: url(image/cherry\ blossom.png);
}

#house{
    width: 600px;
    height: 266px;
    position: absolute;
    display: flex;
    bottom: 30px;
    right: -15px;
    background-image: url(image/house.png);
}

#sun {
    width: 250px ;
    height: 253px;
    top: 50px;
    right: 100px;
    position: absolute;
    display: flex;
    background-image: url(image/sun.png);
    animation: move 30s linear infinite;
    -webkit-animation: move 30s linear infinite ;
    -moz-animation: move 30s linear infinite;   
    
}

#flower{
    display: flex;
    position: absolute;
    bottom: 20px;
    background-image: url(image/flower2.png);
    background-repeat: repeat-x;
    width: 200%; 
    height: 90px;
    animation: slideright 2000s infinite linear;
    -webkit-animation: slideright 2000s infinite linear;
}

#grass{
    display: flex;
    position: absolute;
    bottom: 10px;
    background-image: url(image/background.png);
    background-repeat: repeat-x;
    width: 200%; 
    height: 92px;
    animation: slideright 2000s infinite linear;
    -webkit-animation: slideright 2000s infinite linear;
  }

  @keyframes move {
   
    100%{
         -webkit-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes move {
     
     100%{
        -webkit-transform: rotate(360deg);
    }
  } 
   
  @-moz-keyframes move{
      100%{
        -webkit-transform: rotate(360deg);
      }
  }
  
  @keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  @-webkit-keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
  }